[submodule "src/external_dependencies/kuka_robot_descriptions"]
	path = src/external_dependencies/kuka_robot_descriptions
	url = git@github.com:PickNikRobotics/kuka_robot_descriptions.git
[submodule "src/external_dependencies/kuka_drivers"]
	path = src/external_dependencies/kuka_drivers
	url = git@github.com:PickNikRobotics/kuka_drivers.git
[submodule "src/external_dependencies/kuka_external_control_sdk"]
	path = src/external_dependencies/kuka_external_control_sdk
	url = https://github.com/PickNikRobotics/kuka-external-control-sdk.git
[submodule "src/external_dependencies/--force"]
	path = src/external_dependencies/--force
	url = git@github.com:PickNikRobotics/kuka-external-control-sdk.git
[submodule "src/external_dependencies/kuka-external-control-sdk"]
	path = src/external_dependencies/kuka-external-control-sdk
	url = git@github.com:PickNikRobotics/kuka-external-control-sdk.git
